---
# Renders into Environment Credentials File; must match credential.schema.json per entry.
app-db-cred:
  type: external
  create: false
  secretStore: azure_store
  properties:
    - name: username
    - name: password
app-test-cred:
  type: external
  create: true
  secretStore: gcp_store
  properties:
    - name: username
    - name: password
  remoteRefPath: "{{ current_env.cloud }}/{{ current_env.name }}/envgene"
