# RegDef template for registry1
name: {{ registry_name | default('registry1') }}
credentialsId: {{ credentials_id | default('registry1-credentials') }}
mavenConfig:
  repositoryDomainName: {{ maven_domain | default('maven.example.com') }}
  fullRepositoryUrl: {{ maven_url | default('https://maven.example.com/repository') }}
  targetSnapshot: {{ maven_snapshot | default('snapshots') }}
  targetStaging: {{ maven_staging | default('staging') }}
  targetRelease: {{ maven_release | default('releases') }}
dockerConfig:
  snapshotUri: {{ docker_snapshot_uri | default('docker.example.com/snapshot') }}
  stagingUri: {{ docker_staging_uri | default('docker.example.com/staging') }}
  releaseUri: {{ docker_release_uri | default('docker.example.com/release') }}
  groupUri: {{ docker_group_uri | default('docker.example.com/group') }}
  snapshotRepoName: {{ docker_snapshot_repo | default('docker-snapshot') }}
  stagingRepoName: {{ docker_staging_repo | default('docker-staging') }}
  releaseRepoName: {{ docker_release_repo | default('docker-release') }}
  groupName: {{ docker_group_name | default('docker-group') }}
