{
  "name": "{{ env['APP_NAME'] | default('default-app-name') }}",
  "registryName": "{{ env['REGISTRY_NAME'] | default('default-registry') }}",
  "artifactId": "{{ env['ARTIFACT_ID'] | default('com.example.default') }}",
  "groupId": "{{ env['GROUP_ID'] | default('com.example') }}",
  "supportParallelDeploy": {{ env['SUPPORT_PARALLEL_DEPLOY'] | default('true') | lower }},
  "deployParameters": {
    "param1": "{{ env['DEPLOY_PARAM1'] | default('env-var-default-value1') }}",
    "param2": "{{ env['DEPLOY_PARAM2'] | default('env-var-default-value2') }}",
    "environment": "{{ env['ENV_NAME'] | default('dev') }}"
  },
  "technicalConfigurationParameters": {
    "tech_param1": "{{ env['TECH_PARAM1'] | default('env-var-tech-value1') }}",
    "tech_param2": "{{ env['TECH_PARAM2'] | default('env-var-tech-value2') }}"
  },
  "solutionDescriptor": {{ env['SOLUTION_DESCRIPTOR'] | default('false') | lower }}
}
