---
name: "{{ current_env.cloudNameWithCluster }}"
apiUrl: "https://api.example.com"
apiPort: 6443
privateUrl: ""
publicUrl: "https://apps.example.com"
dashboardUrl: "https://dashboard.example.com"
labels: []
defaultCredentialsId: ""
protocol: "https"
deployParameters: {}
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets:
  - ext-cred-cloud
e2eParameterSets: []
technicalConfigurationParameterSets: []
