---
app-db-cred:
  type: external
  create: true
  secretStore: default-store
  remoteRefPath: "{{ current_env.cloud }}/{{ current_env.name }}/db"
  properties:
    - name: username
    - name: password
app-sidecar-token:
  type: external
  create: true
  secretStore: default-store
  remoteRefPath: "{{ current_env.cloud }}/{{ current_env.name }}/sidecar"
ns-deploy-cred:
  type: external
  create: true
  secretStore: default-store
  remoteRefPath: "{{ current_env.cloud }}/{{ current_env.name }}"
  properties:
    - name: username
    - name: password
tenant-cred:
  type: external
  create: true
  secretStore: default-store
  remoteRefPath: "{{ current_env.cloud }}"
